.rooms .grid {
    background-color: rgb(194, 194, 229);
    border-radius: 20px;
}

.rooms .grid .block {
    display: flex;
    align-items: flex-start;
    margin: 20px;
    padding: 10px;
}

.left img {
    width: 100%;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}

.right {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}